<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Do Interview</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h4 class="title">Recorded Interviews</h4>

  <div>
    <!-- <button ion-button round *ngIf="interviews.length == 0" (click)="recordInterview()">Record Interview</button> -->

    <ion-card *ngFor="let interview of interviews; let i = index">
      <ion-card-header>
        {{ interview.title }}
      </ion-card-header>

      <hr>

      <ion-card-content>
        <div *ngIf="!interview.isVideo" class="foot">
          <audio controls>
            <source src="{{ interview.name }}">
            Cannot Play Audio
          </audio>
        </div>

        <div *ngIf="interview.isVideo" class="foot">
          <video class="video-int" controls>
            <source src="{{ interview.name }}">
            Cannot Play Video
          </video>
        </div>

        <hr>

        <p class="text-end" style="font-size: 70%;">{{ interview.date }}</p>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- <ion-fab right bottom>
    <button (click)="recordInterview()" ion-fab color="primary">
      <ion-icon name="recording"></ion-icon>
    </button>
  </ion-fab> -->

  <ion-fab right bottom>
    <button ion-fab><ion-icon name="add"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab (click)="recordInterview()"><ion-icon name="recording"></ion-icon></button>
      <button ion-fab (click)="videoInterview()"><ion-icon name="videocam"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
