<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Create Identity</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h4>What are you working toward?
    <br>Define your athletic dreams:</h4>

  <div [formGroup]="createIdentityForm" class="form-container">
    <!-- <ion-list> -->
    <ion-item>
      <ion-label floating>* Athletic Dreams</ion-label>
      <ion-textarea rows="4" formControlName="athleticDreams" type="text"></ion-textarea>
    </ion-item>
    <ion-item *ngIf="!createIdentityForm.controls.athleticDreams.valid && (createIdentityForm.controls.athleticDreams.dirty || submitTry)">
      <p class="error-msg">Please enter your athletic dreams (
        <strong>2000 characters or fewer. Letters only</strong>)</p>
    </ion-item>

    <ion-item [ngClass]="{nginvalid: !createIdentityForm.controls.attitudeSlogan.valid}">
      <ion-label floating>* Attitude Slogan</ion-label>
      <ion-textarea rows="4" formControlName="attitudeSlogan" type="text"></ion-textarea>
    </ion-item>
    <ion-item *ngIf="!createIdentityForm.controls.attitudeSlogan.valid && (createIdentityForm.controls.attitudeSlogan.dirty || submitTry)">
      <p class="error-msg">Please enter your attitude slogan (
        <strong>2000 characters or fewer. Letters only)</strong>
      </p>
    </ion-item>
    <!-- </ion-list> -->
  </div>

  <div id="center-btn">
    <button ion-button round (click)="save()" >Save</button>
  </div>
</ion-content>
