page-produce-pep-talks {
    .foot{
        display: flex;
        flex-direction: row;
        align-items: center;

        .foot-6{
            margin-right: 5px;
        }
    }

    .text-end{
        text-align: right;
    }

    .video-talk{
        width: 100%;
        height: 300px;
    }
}
