<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Produce PEP Talks</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <h4 class="title">PEP Talks</h4>

  <div>
    <!-- <button ion-button round *ngIf="talks.length == 0" (click)="recordPEPTalk()">Record PEP Talk</button> -->

    <ion-card *ngFor="let talk of talks; let i = index">
      <ion-card-header>
        {{ talk.title }}
      </ion-card-header>

      <hr>

      <ion-card-content>
        <div *ngIf="!talk.isVideo" class="foot">
          <audio controls>
            <source src="{{ talk.name }}">
            Cannot Play Audio
          </audio>
        </div>

        <div *ngIf="talk.isVideo" class="foot">
          <video class="video-talk" controls>
            <source src="{{ talk.name }}">
            Cannot Play Video
          </video>
        </div>

        <hr>

        <p class="text-end" style="font-size: 70%;">{{ talk.date }}</p>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- <ion-fab right bottom>
    <button (click)="recordPEPTalk()" ion-fab color="primary"><ion-icon name="recording"></ion-icon></button>
  </ion-fab> -->

  <ion-fab right bottom>
    <button ion-fab (click)="recordPEPTalk()"><ion-icon name="add"></ion-icon></button>
    <!-- <ion-fab-list side="top">
      <button ion-fab (click)="recordPEPTalk()"><ion-icon name="recording"></ion-icon></button>
      <button ion-fab (click)="videoPEPTalk()"><ion-icon name="videocam"></ion-icon></button>
    </ion-fab-list> -->
  </ion-fab>

</ion-content>
