<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Produce PEP Talks</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <h4>PEP Talks</h4>

  <div>
    <button ion-button round *ngIf="talks.length == 0" (click)="recordPEPTalk()">Record PEP Talk</button>

    <ion-card *ngFor="let talk of talks">
      <ion-card-header>
        {{ talk.title }}
      </ion-card-header>

      <hr>

      <ion-card-content>
        <div class="foot">
          <button class="foot-6" ion-button icon-only clear (click)="togglePlay()" >
            <ion-icon *ngIf="!playing" name="play"></ion-icon>
            <ion-icon *ngIf="playing" name="pause"></ion-icon>
          </button>

          <button class="foot-6" ion-button icon-only clear (click)="stopPlay()" >
            <ion-icon name="square"></ion-icon>
          </button>
        </div>

        <hr>

        <p class="text-end" style="font-size: 70%;">{{ talk.date }}</p>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-fab right bottom>
    <button (click)="recordPEPTalk()" ion-fab color="primary"><ion-icon name="recording"></ion-icon></button>
  </ion-fab>

</ion-content>
