<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Develop Routines</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h4 class="title">Routines</h4>

  <div>
    <button ion-button round *ngIf="!routines" (click)="addRoutine()">Add Routine</button>

    <ion-card *ngFor="let routine of routines">
      <ion-card-header>
        {{ routine.title }}
      </ion-card-header>

      <ion-card-content>
        <p>{{ routine.stepsList }} </p>

        <!-- <p class="routine-date">{{ routine.date }} </p> -->
      </ion-card-content>
    </ion-card>
  </div>

  <ion-fab right bottom>
    <button (click)="addRoutine()" ion-fab color="primary">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
