<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Develop Routines</ion-title>

    <ion-buttons end>
      <button *ngIf="showDeleteBtn" ion-button icon-only (click)="delete()" >
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h4 class="title">Routines</h4>

  <div>
    <button ion-button round *ngIf="!routines" (click)="addRoutine()">Add Routine</button>

    <ion-card *ngFor="let routine of routines; let i = index">
      <ion-card-header>
        <ion-row>
          <ion-col col-9>
            {{ routine.title }}
          </ion-col>

          <ion-col col-3 style="text-align: end;">
            <ion-checkbox [(ngModel)]="checked[i]" (ionChange)="toggleChecked()" ></ion-checkbox>
          </ion-col>
        </ion-row>
      </ion-card-header>

      <ion-card-content>
        <p>{{ routine.stepsList }} </p>

        <!-- <p class="routine-date">{{ routine.date }} </p> -->
      </ion-card-content>
    </ion-card>
  </div>

  <ion-fab right bottom>
    <button (click)="addRoutine()" ion-fab color="primary">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
