page-home {
    // .activity{
    //     border: 1px solid black;
    //     border-bottom: 2px solid color($colors, secondary);
    //     border-radius: 5px;
    //     margin-bottom: 10px;
    // }
    .date{
        text-align: end;
        color: color($colors, secondary);
        font-size: 70%;
    }
}
