<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>
      Born Tough Trainer
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="contact()">
        <ion-icon name="mail"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="!identity && !faith && activities.length == 0" class="intro">
    <h1>Welcome</h1>
  </div>

  <h2 *ngIf="identity" class="title">Identity</h2>
  <ion-card *ngIf="identity">
    <ion-card-header>
      {{ identity.athleticDreams }} 
    </ion-card-header>

    <hr>

    <ion-card-content>
      {{ identity.attitudeSlogan }} 
    </ion-card-content>
  </ion-card>

  <h2 *ngIf="faith" class="title">Faith</h2>
  <ion-card *ngIf="faith">
    <ion-card-header>
      {{ faith.belief }} 
    </ion-card-header>

    <hr>

    <ion-card-content>
      {{ faith.successReason }} 
    </ion-card-content>
  </ion-card>

  <h2 class="title">Recent Activities</h2>
  <ion-card *ngFor="let activity of activities; let i = index">
    <ion-card-header>
      <ion-row>
        <ion-col col-9>
          {{ activity.title }}
        </ion-col>

        <ion-col col-3 style="text-align: end;">
          <ion-checkbox [(ngModel)]="checked[i]" (ionChange)="toggleDeleteFab()"></ion-checkbox>
        </ion-col>
      </ion-row>
    </ion-card-header>

    <ion-card-content>
      <p class="date">{{ activity.date }}</p>
    </ion-card-content>
  </ion-card>

  <ion-fab *ngIf="showDeleteBtn" right bottom>
    <button (click)="delete()" ion-fab color="primary"><ion-icon name="trash"></ion-icon></button>
  </ion-fab>
</ion-content>
