// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-card{
    border-radius: 5px;
}

ion-item{
    background-color: inherit !important;
}

ion-select{
    background: white;
}

#logo{
    height: 30%;
    text-align: center;
    img{
        position: relative;
        top: 30%;
        height: 70%;
        // border-radius: 100px;
    }
}

.intro{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: overline;

    h1{
        font-size: 15vw;
    }
}

.title{
    color: white;
}

.subtitle{
    color: #BDBDBD;
    margin-bottom: 4vh;
    font-size: 110%;
    margin-top: 0;
}

.menu-inner{
    .scroll-content{
        background: white;
    }
}

.scroll-content{
    background-image: url('../assets/imgs/bg.jpeg');
    background-color: rgba(0,0,0,.75);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
}

.form-container{
    // padding-right: 15px;
    // background: white;
    // padding: 10px;
    // border-radius: 10px;
}

.text-input{
    border-radius: 5px;
    background-color: white;
}

.error-msg{
    color: red !important;
    white-space: initial;
    font-size: 85% !important;
    margin-right: -8px !important;
}

//-- Commit to Today

.task-overflow{
    overflow: auto;
}

.task-status{
    .checkbox-icon{
        width: 32px;
        height: 32px;
        border-radius: 100px;

        .checkbox-inner{
            height: 15px;
            left: 10px;
            top: 4px;
            width: 8px;
        }
    }
}

.taskdone{
    background: #FAFAFA;

    h2, p{
        color: gray;
        text-decoration: line-through;
    }
}

//-- Commit to Today

#center-btn{
    margin-top: 5vh;
    text-align: center;
}

.center-btn{
    margin-top: 5vh;
    text-align: center;
}

.clear-btn{
    text-transform: none !important;
}

.top-right{
    position: absolute;
    top: 0;
    right: 0;
    margin: 16px;
}

.m-class{
    display: flex;
    justify-content: space-between;
}

// .content-md{
//     background-color: gray;
// }

// button{
//     text-transform: none !important;
// }

ion-slides{
    height: fit-content;
    width: fit-content;
}

.menu-header {
    height: 20vh;
    margin-bottom: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: black;
    .title {
        margin: 0;
        margin-bottom: 10px;
        font-size: 1.5rem;
        font-weight: 500;
        color: color($colors, light);
    }

    .nav-icon{
        height: 15vh;;
    }
}

.menu-item-icon {
    margin-right: 2vw;
}
