// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

#logo{
    height: 30%;
    text-align: center;
    img{
        position: relative;
        top: 30%;
        height: 70%;
        // border-radius: 100px;
    }
}

.form-container{
    padding-right: 15px;
    background: white;
    padding: 10px;
    border-radius: 10px;
}

.error-msg{
    color: red !important;
    white-space: initial;
    font-size: 75% !important;
    margin-right: -8px !important;
}

#center-btn{
    margin-top: 5vh;
    text-align: center;
}

.center-btn{
    margin-top: 5vh;
    text-align: center;
}

.clear-btn{
    text-transform: none !important;
}

// .content-md{
//     background-color: gray;
// }

// button{
//     text-transform: none !important;
// }

ion-slides{
    height: fit-content;
    width: fit-content;
}

.menu-header {
    background: color($colors, primary);
    height: 20vh;
    margin-bottom: 2vh;
    #title {
      position: absolute;
      margin: 0;
      position: sticky;
      top: 1000px;
      margin-bottom: 5px;
      margin-left: 16px;
      color: color($colors, light);
      font-weight: 400;
    }
}

.menu-item-icon {
    margin-right: 2vw;
}
