<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Commit To Today</ion-title>

    <ion-buttons end>
      <button *ngIf="showDeleteBtn" ion-button icon-only (click)="delete()" >
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <div class="m-class">
    <div>
      <h4 class="title">Today's Tasks</h4>
      <p class="subtitle">{{ todaysDate }}</p>
    </div>

    <button ion-fab mini (click)="showAllTasks()" color="light"><ion-icon name="folder"></ion-icon></button>
  </div>

  <div>
    <!-- <button ion-button round *ngIf="!todaysTasks.tasks" (click)="addNewTask()">Add New Task</button> -->

    <!-- <div *ngIf="todaysTasks"> -->
    <ion-card *ngFor="let task of todaysTasks.tasks; let i = index" [ngClass]="{ taskdone: task.completed }">
      <ion-grid>
        <ion-row align-items-center>
          <ion-col col-auto>
            <ion-checkbox class="task-status" [(ngModel)]="task.completed" (ionChange)="toggleTaskCompleted()"></ion-checkbox>
          </ion-col>

          <ion-col col-auto>
            <ion-row align-items-center>
              <ion-col class="task-overflow" col-12>
                <h2>{{ task.title }} </h2>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col class="task-overflow" col-12>
                <p>{{ task.description }} </p>
              </ion-col>
            </ion-row>
          </ion-col>

          <ion-col col-auto style="margin-left: auto;">
            <ion-checkbox [(ngModel)]="checked[i]" (ionChange)="toggleChecked()"></ion-checkbox>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
    <!-- </div> -->
  </div>

  <ion-fab right bottom>
    <button (click)="addNewTask()" ion-fab color="primary"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
