<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    
    <ion-title>Log Progress</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h4>Logs</h4>

  <div>
    <button ion-button round *ngIf="!logs" (click)="addLog()">Add Log</button>

    <ion-card *ngFor="let log of logs">
      <ion-card-header>
        {{ log.title }}
      </ion-card-header>

      <ion-card-content>
        <p>{{ log.description }} </p>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-fab right bottom>
    <button (click)="addLog()" ion-fab color="primary"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
