<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    
    <ion-title>Log Progress</ion-title>

    <ion-buttons end>
      <button *ngIf="showDeleteBtn" ion-button icon-only (click)="delete()" >
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h4 class="title">Logs</h4>

  <div>
    <button ion-button round *ngIf="!logs" (click)="addLog()">Add Log</button>

    <ion-card *ngFor="let log of logs; let i = index">
      <ion-card-header>
        <ion-row>
          <ion-col col-9>
            {{ log.title }}
          </ion-col>

          <ion-col col-3 style="text-align: end;">
            <ion-checkbox [(ngModel)]="checked[i]" (ionChange)="toggleChecked()" ></ion-checkbox>
          </ion-col>
        </ion-row>
      </ion-card-header>

      <ion-card-content>
        <p>{{ log.description }} </p>

        <p class="log-date">{{ log.date }} </p>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-fab right bottom>
    <button (click)="addLog()" ion-fab color="primary"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
