<ion-header>

  <ion-navbar color="primary">
    <ion-title>Sign Up</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!-- <div id="logo">
    <img src="assets/imgs/logo-2.png" alt="logo" />
  </div> -->

  <div [formGroup]="signUpForm" class="form-container">
    <!-- <ion-list> -->
    <ion-item>
      <ion-label floating>* Name</ion-label>
      <ion-input formControlName="name" type="text"></ion-input>
    </ion-item>
    <ion-item *ngIf="!signUpForm.controls.name.valid && (signUpForm.controls.name.dirty || submitTry)">
      <p class="error-msg">Please enter your name (<strong>50 characters or fewer. Letters only</strong>)</p>
    </ion-item>

    <ion-item>
      <ion-label floating>* Sport</ion-label>
      <ion-input formControlName="sport" type="text"></ion-input>
    </ion-item>
    <ion-item *ngIf="!signUpForm.controls.sport.valid && (signUpForm.controls.sport.dirty || submitTry)">
      <p class="error-msg">Please enter your preferred sport (<strong>50 characters or fewer. Letters only)</strong>
      </p>
    </ion-item>

    <ion-item style="margin-top: 20px;">
      <ion-label>* Level</ion-label>
      <ion-select formControlName="level">
        <ion-option value="P">Professional</ion-option>
        <ion-option value="Ol">Olympic</ion-option>
        <ion-option value="C">College</ion-option>
        <ion-option value="H">High School</ion-option>
        <ion-option value="M">Middle School</ion-option>
        <ion-option value="Y">Youth</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label floating>* School</ion-label>
      <ion-input formControlName="school" type="text"></ion-input>
    </ion-item>
    <ion-item *ngIf="!signUpForm.controls.school.valid && (signUpForm.controls.school.dirty || submitTry)">
      <p class="error-msg">Please enter your school</p>
    </ion-item>

    <ion-item>
      <ion-label floating>* email</ion-label>
      <ion-input formControlName="email" type="email"></ion-input>
    </ion-item>
    <ion-item *ngIf="!signUpForm.controls.email.valid && (signUpForm.controls.email.dirty || submitTry)">
      <p class="error-msg">Please enter a valid email</p>
    </ion-item>

    <ion-item>
      <ion-label floating>Phone Number</ion-label>
      <ion-input formControlName="phoneNumber" type="tel"></ion-input>
    </ion-item>
    <ion-item *ngIf="!signUpForm.controls.phoneNumber.valid && (signUpForm.controls.phoneNumber.dirty || submitTry)">
      <p class="error-msg">Please enter a valid phone number (<strong>digits only</strong>)</p>
    </ion-item>

    <ion-item>
      <ion-label floating>* password</ion-label>
      <ion-input formControlName="password" type="password" (input)="checkPasswordStrength()"></ion-input>
    </ion-item>
    <ion-item *ngIf="passwordStrength">
      <p [ngStyle]="{color: strengthColor}">
        <strong>{{ passwordStrength }}</strong>
      </p>
    </ion-item>
    <ion-item *ngIf="!signUpForm.controls.password.valid && (signUpForm.controls.password.dirty || submitTry)">
      <p class="error-msg">Enter password (<strong>30 characters or more</strong>)</p>
    </ion-item>

    <ion-item>
      <ion-label floating>* confirm password</ion-label>
      <ion-input formControlName="confirmPassword" type="password"></ion-input>
    </ion-item>
    <ion-item *ngIf="!signUpForm.controls.confirmPassword.valid && (signUpForm.controls.confirmPassword.dirty || submitTry)">
      <p class="error-msg">Password Mismatch</p>
    </ion-item>

    <ion-item style="margin-top: 20px;">
      <ion-label>Gender</ion-label>
      <ion-select formControlName="gender">
        <ion-option value="F">Female</ion-option>
        <ion-option value="M">Male</ion-option>
      </ion-select>
    </ion-item>
    <!-- </ion-list> -->
  </div>

  <div id="center-btn">
    <button ion-button round (click)="signUp()">Sign Up</button>
  </div>

  <div id="center-btn">
    <button class="clear-btn" ion-button clear (click)="signIn()">Already have account? Sign In</button>
  </div>
</ion-content>
