page-record-interview {
    ion-col{
        text-align: center !important;
    }
    .counter{
        display: flex;
        height: 80%;
        align-items: center;
        justify-content: center;

        color: black;
        font-size: 18vw;
    }
}
